.newpatient{
  background-color: #eff6ff;
  padding: 70px 100px;
}
.login{
  background-color: #ffffff;
  padding: 20px 30px;
}

@media screen and (max-width:600px){
  .newpatient{
    padding: 140px 30px;
  }
}
