<section class="about container">
  <h1 class="text-center mb-5">About</h1>
  <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate pariatur fugit neque architecto? Dolorem, sed! Inventore quia at eos earum quae, beatae, praesentium natus ex adipisci laborum ab iure enim.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque perspiciatis ad dolores non, eaque earum, at exercitationem unde corporis rerum ipsum dolore repudiandae illo esse ex saepe quia. Sint, nostrum.
  </p>

  <div class="follow text-center">
    <h4>Follow Us</h4>
    <a href="#">Facebook</a>
    <a href="#">Youtube</a>
    <a href="#">Instagram</a>
    <a href="#">Twitter</a>
  </div>
</section>
