<section class="home">
  <img src="../../assets/fabian-centeno-njeVb6E3XB8-unsplash.jpg" alt="">

  <div class="homecontent">
    <h3>We have a flossify on how to</h3>
    <h1>Keep your smile <br>clean & great.</h1>
    <p></p>
    <h5>We all take care of your smile. Come see us.</h5>
    <p></p>
    <!-- <a routerLink="course" class="btn btn-lg btn-light">Discover Courses</a> &nbsp; -->
    <a routerLink="bookanappointment" class="btn btn-lg btn-primary">BOOK AN APPOINTMENT</a>
  </div>
</section>
